- name: Install AWS CLI, Docker and Deploy App
  hosts: web_server
  become: true

  vars:
    # #1. ECR CONFIGURATION
    # Ensure these match your ECR outputs from Terraform
    ecr_url: "update-ecr-url.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp/final-project-vimaldeep"
    ecr_registry: "update-ecr-url.dkr.ecr.ap-southeast-1.amazonaws.com"
    
    # #2. DEPLOYMENT PATHS
    app_path: "/home/ubuntu"
    raw_compose_url: "https://raw.githubusercontent.com/Vimal1802/devops-bootcamp-project/main/app/docker-compose.yml"

  pre_tasks:
    # #3. SYSTEM DEPENDENCIES
    - name: Install AWS CLI v2 dependencies
      ansible.builtin.apt:
        name: [unzip, curl]
        state: present
        update_cache: yes

    - name: Download and Install AWS CLI v2
      ansible.builtin.shell: |
        if ! command -v aws &> /dev/null; then
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "/tmp/awscliv2.zip"
          unzip -o /tmp/awscliv2.zip -d /tmp/
          /tmp/aws/install
          rm -rf /tmp/aws /tmp/awscliv2.zip
        fi
      args:
        executable: /bin/bash
      changed_when: false

  roles:
    # #4. DOCKER INSTALLATION
    # Uses the geerlingguy role to install Docker Engine and Compose Plugin
    - role: geerlingguy.docker
      vars:
        docker_install_compose: true
        docker_users: ["ubuntu"]

  tasks:
    # #5. DOWNLOAD CONFIGURATION
    # This downloads and stores the docker-compose.yml file in /home/ubuntu
    - name: Download docker-compose.yml from Public GitHub
      ansible.builtin.get_url:
        url: "{{ raw_compose_url }}"
        dest: "{{ app_path }}/docker-compose.yml"
        owner: ubuntu
        group: ubuntu
        mode: '0644'
        force: yes

    # #6. REGISTRY LOGIN
    - name: Login to Amazon ECR
      ansible.builtin.shell: |
        aws ecr get-login-password --region ap-southeast-1 | \
        docker login --username AWS --password-stdin {{ ecr_registry }}
      changed_when: false

    # #7. APPLICATION STARTUP
    # chdir ensures we are in the directory where the .yml file exists
    - name: Pull and Restart Application
      ansible.builtin.shell: |
        docker compose pull
        docker compose up -d --force-recreate
      args:
        chdir: "{{ app_path }}"
        executable: /bin/bash
      environment:
        ECR_URL: "{{ ecr_url }}"
        IMAGE_TAG: "{{ image_tag }}"
        USER_NAME: "VIMALDEEP SINGH WATHAN"
