---
- name: Deploy DevOps Web App
  hosts: web_server
  become: true

  vars:
    # Placeholders that get filled by the -e flags above
    ecr_url: ""
    ecr_registry: ""
    image_tag: ""
    app_path: "/home/ubuntu/ansible"

  tasks:
    # 1. AUTHENTICATE
    - name: Login to Amazon ECR
      ansible.builtin.shell: |
        aws ecr get-login-password --region ap-southeast-1 | \
        docker login --username AWS --password-stdin {{ ecr_registry }}
      changed_when: false

    # 2. RUN APPLICATION
    - name: Start Container with Docker Compose
      community.docker.docker_compose_v2:
        project_src: "{{ app_path }}"
        state: present
        pull: always
      environment:
        # This matches the ${} placeholders in your docker-compose.yml
        ECR_URL: "{{ ecr_url }}"
        IMAGE_TAG: "{{ image_tag }}"
        USER_NAME: "Vimaldeep Singh Wathan"
