---
- name: Application Deployment
  hosts: web_server
  become: true

  vars:
    # This matches the folder we just created on the Web Server
    ecr_url: "927428187886.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp/final-project-vimaldeep"
    ecr_registry: "927428187886.dkr.ecr.ap-southeast-1.amazonaws.com"
    app_path: "/home/ubuntu/"

  tasks:
    - name: ECR Login
      ansible.builtin.shell: |
        # This regex extracts the domain part even if a full path is passed
        aws ecr get-login-password --region ap-southeast-1 | \
        docker login --username AWS --password-stdin {{ ecr_registry }}
      changed_when: false

    - name: Patch docker-compose (Update Image and Port)
      ansible.builtin.replace:
        path: "{{ app_path }}/docker-compose.yml"
        regexp: "{{ item.regexp }}"
        replace: "{{ item.replace }}"
      loop:
        - { regexp: 'image:.*', replace: "image: {{ ecr_url }}:latest" }
        - { regexp: '["'']?8080:80["'']?', replace: "'80:80'" }

    - name: Pull and Restart
      ansible.builtin.shell: |
        export ECR_URL="{{ ecr_url }}"
        export IMAGE_TAG="{{ image_tag }}"
        export USER_NAME="Vimaldeep Singh Wathan"
        docker compose -f {{ app_path }}/docker-compose.yml pull
        docker compose -f {{ app_path }}/docker-compose.yml up -d --force-recreate
      args:
        executable: /bin/bash
