- name: Install AWS CLI,Docker and Deploy App
  hosts: web_server
  become: true

vars:
    # Target ECR repository for pulling the application image
    ecr_url: "update-ecr-url.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp/final-project-vimaldeep"
    
    # Base ECR registry URL for Docker authentication/login
    ecr_registry: "update-ecr-url.dkr.ecr.ap-southeast-1.amazonaws.com"
    
    # Local directory on the Web Server where the application will be deployed
    app_path: "/home/ubuntu"
    
    # Remote source URL for fetching the latest docker-compose configuration
    raw_compose_url: "https://raw.githubusercontent.com/Vimal1802/devops-bootcamp-project/main/lab-final-project/docker-compose.yml"

  # 1. Execute pre_tasks to provision the AWS CLI environment prior to Docker configuration
  pre_tasks:
    - name: Install AWS CLI v2 dependencies
      ansible.builtin.apt:
        name:
          - unzip
          - curl
        state: present
        update_cache: yes

    - name: Download and Install AWS CLI v2
      ansible.builtin.shell: |
        if ! command -v aws &> /dev/null; then
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "/tmp/awscliv2.zip"
          unzip -o /tmp/awscliv2.zip -d /tmp/
          /tmp/aws/install
          rm -rf /tmp/aws /tmp/awscliv2.zip
        fi
      args:
        executable: /bin/bash
      changed_when: false

  # 2. Run installation for Docker using Ansible roles
  roles:
    - role: geerlingguy.docker
      vars:
        docker_install_compose: true
        docker_users: ["ubuntu"]

  # 3. Pull latest image from ECR and Deploy App (ECR Login, Pull, Run)
  tasks:
    - name: Login to Amazon ECR
      ansible.builtin.shell: |
        aws ecr get-login-password --region ap-southeast-1 | \
        docker login --username AWS --password-stdin {{ ecr_registry }}
      changed_when: false

    - name: Pull and Restart Application
      ansible.builtin.shell: |
        docker compose pull
        docker compose up -d --force-recreate
      args:
        chdir: "{{ app_path }}" # This removes the need for -f path/docker-compose.yml
      environment:
        ECR_URL: "{{ ecr_url }}"
        IMAGE_TAG: "{{ image_tag }}"
        USER_NAME: "VIMALDEEP SINGH WATHAN"
